body {
    font-family: Arial;
  }
  .redP{
    color: red;
  }

  .blue{
    color: blue;
  }

  .div{
    width: 100px;
    height: 200px;
    border: 2px solid black;
    background-color: pink;
  }

  .green{
    color: green;
    text-decoration: underline;
  }
  #mainImg {
    width: 35%;
  }
  
  .box {
    border: 0.25px solid black;
    background-color: lightgray;
    width: 200px;
    padding: 1rem;
  }

  .newBtn{
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .boxLink {
    text-decoration: none;
  }
  
  .oldImg {
    height: 200px;
    width: 200px;
    margin-right: 1rem;
  }
  
  #description {
    background-color: antiquewhite;
  }